// COLORS

$my-sin-50: #fffeea;
$my-sin-100: #fff8c5;
$my-sin-200: #fff285;
$my-sin-300: #ffe546;
$my-sin-400: #ffd41b;
$my-sin-500: #ffb300;
$my-sin-600: #e28900;
$my-sin-700: #bb6002;
$my-sin-800: #984a08;
$my-sin-900: #7c3c0b;
$my-sin-950: #481e00;


// FONTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')