@media (min-width: 0) {
    * {
        box-sizing: border-box;
    }

    h1, h2, h3, h4, p, a {
        font-family: "Montserrat", sans-serif;
    }

    #accueil {
        position: relative; 
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            background-image: url('../../images/photos/_MG_9050.jpg');
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: rgba(255, 0, 0, .5);
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            filter: brightness(0.6);
        }
    }
}